<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>Residencias</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/main/add']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div id="container">
      <ion-card>
        <img *ngIf="!fileUrl" src=""/>
        <ion-item >
          <ion-button slot="end" [routerLink]="['/main/edit' ]">Editar</ion-button>
          <ion-card-header>
            <ion-card-subtitle>{{residence.nameRes}}</ion-card-subtitle>
            <ion-card-title>{{residence.locationRes}}</ion-card-title>
          </ion-card-header>
        </ion-item>
      </ion-card>
    </div>

</ion-content>