<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/lessee"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Propiedad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h4>Editar AirC&D</h4>
          </div>
          <br>
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Código" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Nombre del AirC&D" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Provincia" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="name" type="number" placeholder="Cantidad de Cuartos" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="name" type="number" placeholder="Cantidad de camas" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Parqueo</ion-label>
              <ion-select placeholder="Seleccionar una opción">
                <ion-select-option value="Y">Si</ion-select-option>
                <ion-select-option value="N">No Disponible</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Wifi</ion-label>
              <ion-select placeholder="Seleccionar una opción">
                <ion-select-option value="Y">Si</ion-select-option>
                <ion-select-option value="N">No Disponible</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input  name="name" type="number" placeholder="Precio" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Contacto" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Correo de Contacto" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Correo de Contacto" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  color="danger" size="large" type="submit" expand="block">Editar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
