<ion-header>
  <ion-toolbar>
    <ion-title>Lugares Destacados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="search" [routerLink]="['/main/search' ]">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="user" [routerLink]="['/main/user' ]">
        <ion-icon name="person"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="lessee" [routerLink]="['/main/lessee' ]">
        <ion-icon name="home"></ion-icon>
        <ion-label>Arrendatario</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>